.blackgodmode a{
    color: black !important;
}

.padme{
    padding-top: 3em;
}

.header-override {
    background: rgb(55,207,162);
    background: linear-gradient(180deg, rgba(55,207,162,1) 0%, rgba(55,207,162,1) 78%, rgba(0,212,255,0) 94%);
}

.border1{
    border: 1px solid black;
    border-radius: 25px 25px;
    box-shadow: rgba(128, 128, 128, 0.75) 10px 5px;
}

html, body{
    height: 100%;
    position: relative;
}

.main-container{
    min-height: 100vh;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

.site-footer{
    bottom: 0px;
    width: 100%;
}

.button-styling {
    padding-bottom: 1.5em;
    padding-top: .5em;
}

.details-content-l{
    float: left;
    width: 49%;
    text-align: right;
}

.details-content-r{
    margin-left: 50%;
}

#datepicker {
    position: relative;
    z-index: 100000;
}

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    top: 320.4px !important;
    left: 490.1px !important;
    display: block;
}

.datepicker-dropdown.datepicker-orient-top:after {
    top: -7px !important;
    left: 6px !important;
    border-bottom: none !important;
}

img.custom-image{
    width: 20%;
    height: auto;
}